header{
    text-align: center;
    background: var(--purple_hills);

    height: 150px;

    box-shadow: var(--shadow);
}
nav{
    text-align:center;
    background-color: var(--purple_hills);
    display:flex;

    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: fixed;
    box-shadow: var(--shadow);

}
nav a{
    float: left;
    text-decoration-line: none;
    color: var(--font_color);
    transition: var(--trans);
    padding: 10px 14 px;
    margin: 5px;
    width: 20%;
    box-shadow: var(--shadow);
}
nav a:hover{
    transform: var(--trans);
    background-color: var(--purple_hills_hover);
    scale: var(--scaler);
}
body{
    --purple_steel: rgb(25, 15, 25);
    --purple_hills_hover: rgb(100, 25, 100);
    --purple_hills: rgb(50, 17, 50);
    --black_alpha: rgba(0, 0, 0, .5);
    --font_color: white;

    --scaler: 1.15;
    --trans: 2s;

    --shadow: 0 4px 12px 0 var(--black_alpha);

    background-color: var(--purple_steel);
    
    color: var(--font_color);
}

.column{
    float: left;
    padding: 10px;
}
.column h2{
    text-align: center;
}
.left, .right{
    width: 20%;
}
.center{
    width: 50%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    background-color: var(--purple_hills);

    box-shadow: var(--shadow);
    transition: var(--trans);

    padding: 2px 16px;
}
.card:hover{
    background-color: var(--purple_hills_hover);
    scale: var(--scaler);
}
.responsive{
    width: 25%;
    max-width: 15%;
    height: auto;

}
#book_button{
    text-align: center;
    background-color: var(--purple_hills);

    width: 50%;
    margin: 0px auto;

    box-shadow: var(--shadow);
}
#book_anchor{
    text-decoration-line: none;
    color: var(--font_color);
}
#book_button:hover{
    background-color: var(--purple_hills_hover);
    scale: var(--scaler);
}
#logo{
    text-align: left;
}